.masonry {
  padding: 0 $sides-spacing;
  margin-top: 4rem;

  .masonry__wrapper {
    display: flex;
    justify-content: space-between;

    .masonry__column {
      width: $masonry-col-width;
    }
  
    .masonry__item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(100,100,100,0.5);
      margin-bottom: $masonry-item-spacing;
      
      img {
        order: 1;
        margin-bottom: 2rem;
        width: 100%;
      }
  
      .masonry__item-title {
        order: 3;
        font-family: $springville;
        font-size: $masonry-title-font; 
        font-weight: 500;
        width: 100%;
      }

      .masonry__item-title:hover {
        @include primary-highlighting();
      }
  
      .masonry__item-date {
        order: 2;
        font-family: $arial;
        font-size: $masonry-details-font; 
        margin-bottom: 2rem;
        width: 100%;
      }
  
      .masonry__item-text {
        order: 4;
        margin-bottom: $masonry-item-spacing;
        margin-top: 2rem;
        font-family: $adobe;
        font-size: $masonry-details-font; 
        width: 100%;

        a {
          text-transform: uppercase;
          border-bottom: 1px solid black;
          font-size: $masonry-details-upcase;
        }
        
        a:hover {
          @include secondary-highlighting();
        }
      }
    }
  }
}
